<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Raleway Font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,800" rel="stylesheet">
</head>
<body>
  		<div class="container-fluid photo">
	  		<nav class="navbar navbar-inverse">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    
			       <ul class="nav navbar-nav">
	        <li><a href="{% url 'index' %}">HOME</a></li>
	        <li><a href="{% url 'about' %}">ABOUT US</a></li>
	        <li><a href="{% url 'services' %}">SERVICES</a></li>
	        <li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TESTIMONIALS <span class="caret"></span></a>
          		<ul class="dropdown-menu">
		            <li><a href="{% url 'lori_testimonials' %}">Lori</a></li>
		            <li><a href="{% url 'marci_testimonials' %}">Marci</a></li>
          		</ul>
        	</li>
	        <li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ENGAGEMENTS <span class="caret"></span></a>
          		<ul class="dropdown-menu">
		            <li><a href="{% url 'lori_engagements' %}">Lori</a></li>
		            <li><a href="{% url 'marci_engagements' %}">Marci</a></li>
          		</ul>
        	</li>
        	<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PUBLICATIONS <span class="caret"></span></a>
          		<ul class="dropdown-menu">
		            <li><a href="{% url 'lori_publications' %}">Lori</a></li>
		            <li><a href="{% url 'marci_publications' %}">Marci</a></li>
          		</ul>
        	</li>
	        <li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RESOURCES <span class="caret"></span></a>
          		<ul class="dropdown-menu">
		            <li><a href="{% url 'community_ensembles' %}">COMMUNITY ENSEMBLES</a></li>
		            <li><a href="{% url 'composer_connections' %}">COMPOSER CONNECTIONS</a></li>
		            <li><a href="{% url 'hcpss' %}">HCPSS MS GT BAND</a></li>
		            <li><a href="{% url 'instrument_repairs' %}">INSTRUMENT REPAIRS</a></li>
		            <li><a href="{% url 'online_resources' %}">ONLINE RESOURCES</a></li>
		            <li><a href="{% url 'private_lessons' %}">PRIVATE LESSONS</a></li>
		            <li><a href="{% url 'recommended_equipment' %}">RECOMMENDED EQUIPMENT</a></li>
		            <li><a href="{% url 'study_recordings' %}">STUDY RECORDINGS</a></li>
		            <li><a href="{% url 'summer_band_camps' %}">SUMMER BAND CAMPS</a></li>
          		</ul>
        	</li>
	        <li><a href="{% url 'contact' %}">CONTACT US</a></li>
	      </ul>
			    </div><!-- /.navbar-collapse -->
			</nav>
			<div class="row headliner">
			    <div class="col-md-12">
			    	<h1 class='logo text-center'>MAKING KEY CHANGES</h1>
			    	<h1 class='sublogo text-center'>CONTACT US</h1>
			    </div>
	  		</div>
	  		<div class="row">
		  			<div class="col-md-4 col-md-offset-2">
		  				<br>
		  				<br>
		  				<br>
		  				<p class='bold'>Lori Schwartz Reichl</p>
						<p>Phone:&nbsp;&nbsp;&nbsp;443-472-3309</p>
						<p>Email:&nbsp;&nbsp;&nbsp;<a href="mailto:Lori@makingkeychanges.com">Lori@makingkeychanges.com</a></p>
						<p>Location: &nbsp;&nbsp;&nbsp;Baltimore, Maryland</p>
						<br>
						<br>
						<p class='bold'>Marci L. Major</p>
						<p>Phone:&nbsp;&nbsp;&nbsp;734-812-0348</p>
						<p>Email:&nbsp;&nbsp;&nbsp;<a href="mailto:Marci@makingkeychanges.com">Marci@makingkeychanges.com</a></p>
						<p>Location:&nbsp;&nbsp;&nbsp;West Chester, Pennsylvania</p>
					</div>
					<div class="col-md-4 engagements">
						<form role="form" action="" method="post">
						    {% csrf_token %}
						     <div class="form-group">
							    <label>Contact:</label><br>
				  				<select class="form-control" name='email_to'>
				  					<option value='consultants@makingkeychanges.com'>Consultants@makingkeychanges.com</option>
				  					<option value='Lori@makingkeychanges.com'>Lori@makingkeychanges.com</option>
				  					<option value='Marci@makingkeychanges.com'>Marci@makingkeychanges.com</option>
				  				</select><br>
				  			</div>
				  			<div class="form-group">
							    <label for="{{ form.contact_name.id_for_label }}">Your Name:</label><br>
							    {{ form.contact_name }}<br>
							    {% if form.contact_name.errors %}
							    	<p class="error">{{ form.contact_name.errors.as_text }}</p>
							    {% endif %}
						    </div>
						    <div class="form-group">
							    <label for="{{ form.contact_email.id_for_label }}">Your Email:</label><br>
							    {{ form.contact_email }}<br>
							    {% if form.contact_email.errors %}
							    	<p class="error">{{ form.contact_email.errors.as_text }}</p>
							    {% endif %}
							</div>
							<div class="form-group">
							    <label for="{{ form.contact_phone.id_for_label }}">Your Phone Number:</label><br>
							    {{ form.contact_phone }}<br>
							    {% if form.contact_phone.errors %}
							    	<p class="error">{{ form.contact_phone.errors.as_text }}</p>
							    {% endif %}
							</div>
							<div class="form-group">
							    <label for="{{ form.content.id_for_label }}">Message:</label><br>
							    {{ form.content }}<br>
							    <p class="error">{{ form.content.errors.as_text }}</p>
							</div>
						    <button type="submit">Submit</button>
						</form>
		    		</div>
		    </div>
  		</div>
</body>
</html>