<!DOCTYPE html>
<html lang="en">
<head>
  <title>Testimonials</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Raleway Font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,400,800" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
      <nav class="navbar navbar-inverse">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
         <ul class="nav navbar-nav">
          <li><a href="{% url 'index' %}">HOME</a></li>
          <li><a href="{% url 'about' %}">ABOUT US</a></li>
          <li><a href="{% url 'services' %}">SERVICES</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TESTIMONIALS <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'lori_testimonials' %}">Lori</a></li>
                <li><a href="{% url 'marci_testimonials' %}">Marci</a></li>
              </ul>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ENGAGEMENTS <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'lori_engagements' %}">Lori</a></li>
                <li><a href="{% url 'marci_engagements' %}">Marci</a></li>
              </ul>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PUBLICATIONS <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'lori_publications' %}">Lori</a></li>
                <li><a href="{% url 'marci_publications' %}">Marci</a></li>
              </ul>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RESOURCES <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'community_ensembles' %}">COMMUNITY ENSEMBLES</a></li>
                <li><a href="{% url 'composer_connections' %}">COMPOSER CONNECTIONS</a></li>
                <li><a href="{% url 'hcpss' %}">HCPSS MS GT BAND</a></li>
                <li><a href="{% url 'instrument_repairs' %}">INSTRUMENT REPAIRS</a></li>
                <li><a href="{% url 'online_resources' %}">ONLINE RESOURCES</a></li>
                <li><a href="{% url 'private_lessons' %}">PRIVATE LESSONS</a></li>
                <li><a href="{% url 'recommended_equipment' %}">RECOMMENDED EQUIPMENT</a></li>
                <li><a href="{% url 'study_recordings' %}">STUDY RECORDINGS</a></li>
                <li><a href="{% url 'summer_band_camps' %}">SUMMER BAND CAMPS</a></li>
              </ul>
          </li>
          <li><a href="{% url 'contact' %}">CONTACT US</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
  </nav>
    <div class="row headliner">
            <div class="col-md-12">
              <h1 class='logo text-center'>MAKING KEY CHANGES</h1>
              <h1 class='sublogo text-center'>TESTIMONIALS</h1>
            </div>
    </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <p class="lead quote">"Lori Schwartz Reichl has a keen understanding of the importance of making sure that every aspect of a music program is of the highest quality, so that students, staff, and parents are fully aware of their role in seeing that come to fruition. She has a unique ability to analyze a situation and prescribe a solution. She is musically talented, organizationally gifted, and has a vision for success in a music program that is unequalled."</p>
          <p><strong>Dr. Richard Roberts</strong></p>
          <p>Supervisor of Instrumental Music</p>
          <p><a target="_blank" href='http://music.cua.edu'>Catholic University of America</a></p>
          <p>Washington, D.C.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'main/img/catholic_university.jpg' %}" alt="Catholic University">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <p class="lead quote">"Lori Schwartz Reichl doesn’t see problems; she sees opportunities and solutions. She has an uncanny ability to connect with staff and students alike with excellent discipline, top-notch musicianship, and an eye for the bigger picture."</p>
          <p><strong>Andrew B. Spang</strong></p>
          <p>Director of Bands</p>
          <p><a target="_blank" href='http://music.cua.edu'>Folly Quarter Middle School</a></p>
          <p>Maryland</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static 'main/img/sax_shot.jpeg' %}" alt="Line of musicians with sax in the foreground">
        </div>
      </div>
       <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
           <p class="lead quote">"Mrs. Reichl’s organizational approach to building excellence in a band program will be of great benefit to teachers who are struggling with creating a rehearsal/classroom environment that is filled with students that are motivated, meet and exceed expectations, and are focused on musical excellence."</p>
          <p><strong>Dr. Laura Parker</strong></p>
          <p>Coordinator of Performance & Pedagogy</p>
          <p><a target="_blank" href='http://music.cua.edu'>Peabody Conservatory of Music</a></p>
          <p>Maryland</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'main/img/peabody.jpg' %}" alt="Peabody Conservatory of Music">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette last">
        <div class="col-md-7 col-md-push-5">
          <p class="lead quote">"Quote"</p>
          <p><strong>BSO</strong></p>
          <p>Coordinator of Performance & Pedagogy</p>
          <p class="cap_header"><a target="_blank" href='https://www.bsomusic.org/'>Baltimore Symphony Orchestra</a></p> 
          <p>Maryland</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static 'main/img/meyerhoff.jpg' %}" alt="Joseph Meyerhoff Symphony Hall">
        </div>
      </div>
  </div>
</body>
</html>

