<!DOCTYPE html>
<html>
<head>
	<title>Making Key Changes</title>
	{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Lato Font -->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  		<div class="container-fluid photo">
  		<nav class="navbar navbar-inverse">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    
	      <ul class="nav navbar-nav">
	        <li><a href="{% url 'index' %}">Home</a></li>
	        <li><a href="{% url 'about' %}">About Us</a></li>
	        <li><a href="{% url 'services' %}">Services</a></li>
	        <li><a href="testimonials.html">Testimonials</a></li>
	        <li><a href="enagagements.html">Engagements</a></li>
	        <li><a href="publications.html">Publications</a></li>
	        <li><a href="{% url 'contact' %}">Contact Us</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	</nav>
  			<h1 class="logo"><span class="slogan">Making</span> Key <span class="slogan">Changes</span></h1>
  			<h1>Refresh Your Music Program</h1>
 			<!-- <div class="row top-buffer">
 				<div class="col-md-4">
 					<img src="img/music_notes.png">
 				</div>
 			</div> -->
  			<div class="row top-buffer">
  				<div class="col-md-4">
	    		<h3><strong><span class="slogan">We aim to support</span></strong>  school district stakeholders in the reflection of current educational programs, implementation and development of future pathways, and maintenance of communities created through excellence in education.</h3>
	    		</div>
  			</div>
  		</div>
</body>
</html>